#showpage {
  background: url('../assets/images/black-and-white-city-houses-skyline.jpg') !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  -o-background-size: cover !important;
  height:100%;
}

body {
  margin: auto !important;
  font-family: 'Droid+Sans', serif !important;
  font-size: 1.3em  !important;
  background: url('../assets/images/night-television-tv-theme-machines.jpg') no-repeat center center fixed !important;
   -webkit-background-size: cover !important;
   -moz-background-size: cover !important;
   background-size: cover !important;
   -o-background-size: cover !important;
   height:100%;
}

.search-result {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}

.searchbar {
  position: fixed !important;
  top: 85% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}
